html {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 14px;
}

body {
	margin: 10;
	text-align: left;
}

td {
    border: 1px solid #cccccc;
}

table {
	table-layout: auto;
	width: 100%;
    border: 2px  solid black;
	border-collapse: collapse;
	white-space: nowrap;
    text-overflow: clip;
}
