body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	margin: 5px;
	text-align: left;
}

.column {
	border:1px solid #bbbbbb;
	padding: 4px;
}

.column label {
	font-weight: 500;
}

.column ul {
	margin: 0;
	list-style: none;
	padding-left: 1em;
}

.container {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 4px;
}

table.results {
	table-layout: auto;
	width: 100%;
	border-collapse: collapse;
}

table.results th {
	background-color: #ececec;
}

table.results td, th {
	white-space: nowrap;
	padding: 0;
}

table.results tr:nth-child(even) {
	background-color: #ececec;
}
